./**/.DS_Store
bash/textcolours.txt
rust/rusty_ls/target/
rust/applications/target/
rust/Cargo.*
rust/bin/
rust/registry/
ruby/pdfsearch/app
ruby/pdfsearch/test
ruby/pdfsearch/bin
ruby/pdfsearch/config
ruby/pdfsearch/storage
ruby/pdfsearch/public
ruby/pdfsearch/lib
ruby/pdfsearch/bd
ruby/pdfsearch/log
ruby/pdfsearch/tmp
ruby/pdfsearch/vendor
ruby/pdfsearch/.ruby-version
ruby/pdfsearch/config.ru
ruby/pdfsearch/package.json
ruby/pdfsearch/Gemfile
ruby/pdfsearch/Gemfile.lock
system/
perl/*.txt
