.DS_Store
rust/rusty_ls/target/
rust/Cargo.*
ruby/pdfsearch/app
ruby/pdfsearch/test
ruby/pdfsearch/bin
ruby/pdfsearch/config
ruby/pdfsearch/storage
ruby/pdfsearch/public
ruby/pdfsearch/lib
ruby/pdfsearch/bd
ruby/pdfsearch/log
ruby/pdfsearch/tmp
ruby/pdfsearch/vendor
ruby/pdfsearch/.ruby-version
ruby/pdfsearch/config.ru
ruby/pdfsearch/package.json
ruby/pdfsearch/Gemfile
ruby/pdfsearch/Gemfile.lock